<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
<div class="container text-center">
    <h1>ABOUT PASSGEN</h1>

    <h3>This a small challenge to generate a random password.<br> The user can select various options such as length, uppercase, special or numbers.<br> Depending on the options selected a random password that matches those specifications will be generated.<br>
    </h3>

    <a href="{% url 'home' %}" class="btn btn-success">Home</a>
</div>